<h2>Add New Category</h2>
 <%= form_for @category do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<br>
<%= f.submit "Add Category" %>
<%= link_to "Cancel", categories_path %>
 <% end %>
